body {
    font-family: 'Inter';
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #0984e3;
}

#category {
    margin: 10px;
    padding: 5px;
}

#show {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

#validationName {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

#validate {
    background-color: #0984e3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#validate:hover {
    background-color: #0984e3;
}
